{% extends 'base.html' %}
{% block content %}

<title>Confirmar Exclusão</title>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <h1>Confirmar exclusão do(a) {{form.nome}}</h1>
            </div>
            <div class="row justify-content-center mt-3">
                <button class="btn btn-danger m-1" type="submit">Confirmar</button>
                <button class="btn btn-light m-1"><a href="{% url 'cadastros' %}">Cancelar</a></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}